.holder {
  // background-image: url(../../images/virgin.png);
  background-position: bottom 30% right 10%;
  background-repeat: no-repeat;

}

.holder-slider {

  &__head {
    background-repeat: no-repeat;
    background-position: center left 10%;
    min-height: 600px;
    margin-bottom: 15px;
    background-size: contain;
  }

  &__subtitle {
    text-align: right;
    margin-right: 50px;
  }

  &__btn {
    text-align: center;
  }

}


.descr-trail {
  position: absolute;
  bottom: 250px;
  left: 100px;
  text-shadow: 3px 3px 3px #000;
  z-index: 5;

  .descr__head {
    position: relative;
    padding-right: 68px;
  }
}

.holder-slider__info-trail {
  display: flex;
  justify-content: space-around;
}

.holder-slider__info-virgin {
  &::after {
    content: "";
    background-image: url(../../images/virgin.png);
    background-size: cover;
    min-height: 350px;
    min-width: 650px;
    z-index: 342;
    position: absolute;
    bottom: 250px;
    right: 50px;
  }
}

.holder-slider__info-item {
  min-height: 130px;
  margin-bottom: 30px;
  position: relative;
}

.holder-slider__info-subtitle {
  position: absolute;
  line-height: 22px;
  letter-spacing: 3px;
  opacity: 0.5;
  transform: rotate(-90deg);
  font-size: 18px;
  top: 95px;
  left: -95px;
  width: 200px;
  height: 0;
  text-align: right;
  white-space: nowrap;
}

.holder-slider__info-title {
  font-size: 25px;
  line-height: 25px;
  font-weight: 800;
  padding-left: 40px;
  position: relative;

  .summ {
    display: inline-block;
    min-width: 90px;
  }

  .holder-pricing__span {
    font-size: 14px;
    font-weight: 400;
    line-height: 0;
    text-align: right;
    letter-spacing: 5.25px;
    opacity: 0.75;
    position: absolute;
    bottom: -20px;
    left: 40px;
  }
}