header {
  position: relative;
  height: 100vh;
}

.header__slider-item {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .4);
  z-index: 0;
}

.slider-arrows {
  position: absolute;
  top: 40px;
  right: 80px;
  cursor: pointer;
  z-index: 5;
  opacity: .25;
}

.slider-arrows__left {
  right: 125px;
}

.header__title {
  font-size: calc(25px + 80*(100vw/1200));
  line-height: 110px;
  opacity: 0.07;
  max-width: 467px;
  font-weight: 800;
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 4;
}

.header__map {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

.line-animation {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: animdash 4s infinite 1s;
}

@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}