.menu-btn {
  display: none;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 75px;
  z-index: 20;

  &__inner {
    width: 40px;
  }

  &__line {
    height: 5px;
    background-color: #00FFFF;

    +.menu-btn__line {
      margin-top: 5px;
    }
  }
}